*{
  margin: 0px;
  padding: 0px;
  font-family: "Lucida Sans Regular", Arial, sans-serif;
}
.wrapper{
  margin: 0 auto; 
  width: 907px;
}
.header{
  
  position: relative; 
}
.top-menu{
  width: 907px;
  height: 55px;
  position: relative;
}
.phone-img{
  position: absolute;
  top: 22px;
  left: 7px;
}
.phone-numbers{
  position: absolute;
  font-family: Arial, sans-serif;
  font-size: 18px;
  left: 32px;
  top: 22px;
  color: #5e696d;
}
.login{
  background-image: -moz-linear-gradient(top, #1F6685 0%, #0C3357 100%);
  background-image: -o-linear-gradient(top, #1F6685 0%, #0C3357 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1F6685), color-stop(100, #0C3357));
  box-shadow:0px 3px 5px #969696;
  border-radius: 3px;
  position: absolute;
  width: 495px;
  height: 26px;
  left: 315px;
  top: 19px;
}
.login img{
  position: absolute;
  left: 4px;
}
.login-form{
  position: absolute;
  left:25px;
  top: 1px;
}
.login-form input{
  width: 100px;
  padding-left: 4px;
}
.login-links{
  position: absolute;
  left: 270px;
  line-height: 23px;
}
.login-links a{
font-size: 11px;
text-decoration: none;
color: #fff;
}
.login-links a:hover{
  text-decoration: underline;
}
.login-links a:last-child{
  text-decoration: underline;
  margin-left: 20px;
  color: #bfbfbf;
}
.login-links a:last-child:hover{
  text-decoration: none;
}
.login-links span {
  text-decoration: none;
  color: #fff;
}
.mini-navigation{
  padding: 0 10px;
  position: absolute;
  right: 14px;
  top: 21px;
  border: 1px solid grey;
  border-radius: 15px;
  box-shadow:0px 3px 5px #969696;
}

/*Navigation menu */
.navigation{    
  float: left;
  margin-left: 145px;
  margin-top: 2px;
}
.top-navigation{
  width: auto;
  height: 32px;
  border: 1px solid #2c345a;
  box-shadow:0px 3px 5px #000;
  background: -moz-linear-gradient(top, #576068 0%, #000000 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #576068), color-stop(100%, #000000));
  background: -webkit-linear-gradient(top, #576068 0%, #000000 100%);
  background: -o-linear-gradient(top, #576068 0%, #000000 100%);
  background: -ms-linear-gradient(top, #576068 0%, #000000 100%);
  background: linear-gradient(to bottom, #576068 0%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#576068', endColorstr='#000000', GradientType=0 );
}
.top-navigation li{
  float: left;
  list-style: none;
  padding: 0px 10px;
  line-height: 28px;
}
.top-navigation li:hover{
  border-radius: 15px;
  background: #1f6887;
  background: -moz-linear-gradient(top, #1f6887 0%, #0c3357 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #1f6887), color-stop(100%, #0c3357));
  background: -webkit-linear-gradient(top, #1f6887 0%, #0c3357 100%);
  background: -o-linear-gradient(top, #1f6887 0%, #0c3357 100%);
  background: -ms-linear-gradient(top, #1f6887 0%, #0c3357 100%);
  background: linear-gradient(to bottom, #1f6887 0%, #0c3357 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6887', endColorstr='#0c3357', GradientType=0 );
}
.top-navigation a{
  text-decoration: none;
  font-size: 14px;
  color: #a7b1b5;
}
.basket{
  float: right;
  margin: 5px 20px;
}
.basket .product-text{
  color: #8a9296;
  font-size: 12px;
}
.basket .counter {
  color: #0d5a8f;
  font-size: 13px;
}
.shapes{
  height: 145px;
  position: relative;
}
.shape-wrapper{
  height: 162px;
  width: 907px;
}
/*SHAPE-1*/
.shape-1{
  width: 412px;
  height: 132px;
  border: 1px solid #b8b8b9;
  border-radius: 15px;
  position: absolute;
  overflow: hidden;
  top: 11px;
  left: 5px;
  box-shadow:3px 3px 10px gray;
}
.header-shape-1{ 
  width: 412px;
  text-align: center;
}
.shape-1 .left{ 
color: #154468;
font-size: 10px;
font-weight: 900;
float: left;
padding-top: 6px;
padding-left: 17px;
}
.shape-1 .right{ /
  color: #154468;
  font-size: 10px;
  float: right;
  font-weight: 900;
  padding-top: 6px;
  padding-right: 17px;
}
.shape-1 .caption{ 
  color: #154468;
  font-size: 12px;
  font-weight: 900;
}
.shape-1 .search{ 
  position: absolute;
  bottom: 0px;
  right: 10px;
  color: #154467;
  font-style: italic;
  font-size: 13px;
}
.shape-1 #sel-mini{ 
  width: 56px;
}
.shape-1 .sel{ 
  width: 85px;
  margin-top: 6px;
}
.shape-1 .column-1{ 
  width: 206px;
  font-size: 10px;
}
.shape-1 .column-with-text{ 
  width: 70px;
  position: absolute;
  top: 26px;
  left: 17px;
}
.shape-1 .column-with-text p{ 
  padding: 3px 0;
  line-height: 10px;
}
.car{ 
color: #77858b;
font-size: 9px;
}
.shape-1 .column-with-select{ 
  width: 105px;
  position: absolute;
  top: 19px;
  left: 93px;
}
.shape-1 .column-with-select-2{ 
  width: 105px;
  position: absolute;
  top: 19px;
  left: 300px;
}
.shape-1 .column-with-text-2{ 
  width: 70px;
  position: absolute;
  top: 26px;
  left: 217px;
}
.shape-1 .column-with-text-2 p{ 
  padding: 3px 0;
  line-height: 10px;
  font-size: 10px;
}

/*SHAPE-2*/
.shape-2{
  width: 190px;
  height: 132px;
  border: 1px solid #b8b8b9;
  border-radius: 15px;
  position: absolute;
  overflow: hidden;
  top: 11px;
  left: 430px;
  box-shadow:3px 3px 10px gray;
}
.shape-2 span{ 
  padding: 4px 0;
  line-height: 10px;
  font-size: 10px;
 }
.selection-block-season p{
  line-height: 10px;
  font-size: 10px;
 }
.shape-2 .caption{ 
  color: #154468;
  font-size: 12px;
  font-weight: 900;
  margin-left: 13px;
  }
.selection-block-11{ 
  margin-left: 46px;
  margin-top: 5px;
}
.shape-2 .size{
  margin-left: 16px; 
}
.shape-2 .search{ 
  position: absolute;
  bottom: 0px;
  right: 10px;
  color: #154467;
  font-style: italic;
  font-size: 13px;
}
.season-word{
  margin-left: 17px;
  margin-top: 5px;
}
.season-box{
  position: absolute;
  left: 56px;
  top: 65px;
  font-size: 10px;
}
.season-box input{
  margin-right: 5px;
}
/*SHAPE-3*/
.shape-3{
  width: 260px;
  height: 132px;
  border: 1px solid #b8b8b9;
  border-radius: 15px;
  position: absolute;
  overflow: hidden;
  top: 11px;
  left: 635px;
  box-shadow:3px 3px 10px gray;
}
.shape-3 .caption{ 
  color: #154468;
  font-size: 12px;
  font-weight: 900;
  margin-left: 13px;
  }
.disc-searching{ 
font-size: 10px;
width: 150px;
height: 92px;
position: absolute;
top: 10px;
left: 10px;
padding: 0 3px;
border-right: 1px solid #bdc6ca;
}
.column-with-text-shape-3{ 
  width: 85px;
  height: 91px;
  position: absolute;
  top: 10px;
  left: 0px;
}
.column-with-text-shape-3 p { 
  padding: 3px 0;
  line-height: 9px;
  color: #77858b;
  font-family: "Lucida Sans Regular";
}
.column-with-text-shape-3 .firs-word{ 
  font-size: 10px;
  color: #000;
}
.column-with-select-shape-3{ 
  width: 65px;
  height: 91px;
  position: absolute;
  top: 6px;
  left: 95px;
}
.sel-12, .sel-13, .sel-14{ 
  margin-top: 9px;
}
.dco{ /*второй блок-колонка в shape-3*/
  font-size: 8px;
  color: #77858b;
  width: 65px;
  height: 92px;
  position: absolute;
  top: 4px;
  left: 180px;
}
.dco p{ 
  padding: 2px 0;
  font-family: "Lucida Sans Regular";
  font-size: 9px;
  line-height: 7px;
}
.dco p:nth-child(1),
.dco p:nth-child(4){ /*выделяем слова ДЦО и ET*/
  font-size: 10px;
  color: #000;
}
.dco .sel-15{ /*отступ одного select - ET*/
  margin-bottom: 7px;;
}
.shape-3 .search{ 
  position: absolute;
  bottom: 0px;
  right: 10px;
  color: #154467;
  font-style: italic;
  font-size: 13px;
}
/*------------LEFT side, RIGHT side, CONTENT*/
.left-side{
  width: 185px;
  float: left;
  margin-right: 40px;
}
.left-side-captions{ 
  border: 1px solid #79878d;
  border-radius: 15px;
  line-height: 25px;
  position: relative;
  text-transform: uppercase;
}
.left-side-captions span{
  margin-left: 30px;
  font-size: 13px;
}
.left-side-captions img{
  position: absolute;
  left: 4px;
  top: 1px;
}
.left-side-captions:first-child{ 
  margin-bottom: 12px;
  box-shadow:0px 3px 5px #969696;
  font-size: 12px;
}
.left-side ul{
  list-style-type: circle;
  margin-left: 40px;
}
.left-side ul li a{
  color: #465961;
  font-size: 14px;
  text-decoration: none;
  line-height: 25px;
}
.left-side li:hover{
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
  font-size: 14px;
  color: #0c3256;
  transition: all 0.1s;
}
/*-------------RIGHT SIDE*/
.right-side{
  float: right;
  margin-left: 40px;
  width: 185px;
}
.right-side-captions{ 
  border: 1px solid #79878d;
  border-radius: 15px;
  line-height: 25px;
  position: relative;
}
.right-side-captions span{
  margin-left: 30px;
  font-size: 13px;
  text-transform: uppercase;
}
.right-side-check p{
  margin: 2px 20px;
  font-size: 13px;
  padding: 5px 10px;
  color: #465961;
}
.right-side-check input{
  margin-right: 10px;
}
.right-side-check button{
  height: 23px;
  width: 78px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  margin: 10px 30px;
  border-radius: 10px;
  background: #1f6585;
  background: -moz-linear-gradient(top, #1f6585 0%, #0c3357 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #1f6585), color-stop(100%, #0c3357));
  background: -webkit-linear-gradient(top, #1f6585 0%, #0c3357 100%);
  background: -o-linear-gradient(top, #1f6585 0%, #0c3357 100%);
  background: -ms-linear-gradient(top, #1f6585 0%, #0c3357 100%);
  background: linear-gradient(to bottom, #1f6585 0%, #0c3357 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6585', endColorstr='#0c3357', GradientType=0 );
}
.right-side-captions:first-child{ 
  margin-bottom: 12px;
  box-shadow:0px 3px 5px #969696;
  font-size: 12px;
}
.right-side-captions img{
  position: absolute;
  left: 4px;
  top: 1px;
}
/*-----------CONTENT CATALOG*/
.content{
  border-radius: 10px;
  background: #e5e7e8;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  max-width: 525px;
  align-content: center;
  background: -moz-linear-gradient(top, #e5e7e8 0%, #93a7b0 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #e5e7e8), color-stop(100%, #93a7b0));
  background: -webkit-linear-gradient(top, #e5e7e8 0%, #93a7b0 100%);
  background: -o-linear-gradient(top, #e5e7e8 0%, #93a7b0 100%);
  background: -ms-linear-gradient(top, #e5e7e8 0%, #93a7b0 100%);
  background: linear-gradient(to bottom, #e5e7e8 0%, #93a7b0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e7e8', endColorstr='#93a7b0', GradientType=0 );
}
.full-product-info{
  text-align: center;
  margin: 10px 0 20px 0;
}
.product-img{
  background-color: white;
  border-radius: 10px;
  border: 1px solid #bfc6c8;
  min-width: 130px;
  min-height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-brand a{
  color: #206988;
  font-size: 14px;
  text-decoration: none;
}
.product-model a{
  color: #1f2528;
  font-size: 13px;
  text-decoration: none;
}
.product-price a{
  font-style: arial;
  font-size: 14px;
  color: #114165;
}
.footer-image p{
  text-align: center;
  margin: 20px 0;
}
/*FOOTER*/
footer{
  display: flex;
  justify-content: flex-start;
  padding: 20px 0;
  align-items: center;
  flex-direction: column;
  width: 910px;
  height: 100px;
  background-color: #213a4d;
  
}
footer p{
  color: #7f4740;
  font-size: 10px;
  line-height: 26px;
}
.bottom-navigation li{
  list-style: none;
  margin: auto 10px;
  display: inline;
  border-right: 1px solid #bec6c9;
}
.bottom-navigation li:last-child{
  border: none;
}

.bottom-navigation li a{
  text-decoration: none;
  color: #bec6c9;
  padding-right: 20px;
  font-size: 12px;
}
.bottom-navigation li a:hover{
  color: #52abcb;
}