
.display-time {
	font-size: 200px;
	font-weight: bold;
	width: 800px;
	padding-top: 100px;
}
.numbers {
	width: 800px;
	position: relative;
}
.display-mseconds {
	position: absolute;
	right: 15px;
	bottom: -15px;
	display: block;
	font-size: 50px;
}
.btn-group {
	margin-top: 50px;
	width: 306px;
}
.btn {
	font-size: 50px;
	font-weight: bold;
}